
<%= link_to "#{@post.user.username}", user_path(@post.user) %>
<%= @post.title %>
<%= @post.body %>

	<div id="new_post">
			<%= form_for Post.new do |f| %>
			<%=f.label "title" %>
			<%=f.text_field :title %><br>
			<%=f.label "body" %>
			<%=f.text_area :body %>
			<%=f.submit %>
			<% end %>
	</div>

	<%= link_to "Edit Post", edit_post_path %>
	
